name: DB Deploy Dev

on:
  push:
    branches: [ main ]
    paths:
      - 'sql/**'
      - '.github/workflows/db-deploy.yml'

jobs:
  deploy-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Deploy SQL scripts to Dev
        uses: azure/sql-action@v2.3
        with:
          connection-string: ${{ secrets.AZURE_SQL_CONNECTION_STRING_DEV }}
          path: './sql/*.sql'
